APP_NAME="ecommerce-products"
PORT="9001"

DB_HOST="localhost"
DB_PORT="5432"
DB_NAME=""
DB_USER=""
DB_PASSWORD=""

REDIS_HOST="127.0.0.1:7000"

KAFKA_HOST=""
ZOOKEEPER_HOST=""

UMS_HOST=""
UMS_ENDPOINT_PROFILE=""